<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.cfeclipse.frameworks.fusebox4"
   name="Fusebox 4  Plug-in"
   version="0.0.2.4"
   provider-name=""
   class="org.cfeclipse.frameworks.fusebox4.Fusebox4Plugin">

<runtime>
      <library name="Fusebox4.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="com.rohanclan.cfml"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Fusebox 4"
            id="org.cfeclipse.frameworks.fusebox4">
      </category>
      <view
            name="Fusebox"
            icon="icons/fusebox/fbx_switch.gif"
            category="org.cfeclipse.frameworks.fusebox4"
            class="org.cfeclipse.frameworks.fusebox4.views.Fusebox4View"
            id="org.cfeclipse.frameworksfusebox4.views">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="org.cfeclipse.frameworks.fusebox4.views.Fusebox4View">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
