.emphasis { font-style: italic; }
.strong { font-weight: bold; }
.header { color: rgba(0, 0, 128, 1); }
.editor { color: #D4D4D4;  background-color: #1E1E1E; }
.editor.lineHighlight  {background-color:  rgba(40, 40, 40, 1); }
.editor.selection { background-color: rgba(73, 72, 62, 0.5); }
.meta.embedded { color: #D4D4D4;  background-color: #1E1E1E; }
.source.groovy.embedded { color: #D4D4D4;  background-color: #1E1E1E; }
.header { color: #000080; }
.comment { color: #608b4e; }
.constant.language { color: #569cd6; }
.constant.numeric { color: #b5cea8; }
.constant.regexp { color: #646695; }
.entity.name.tag { color: #569cd6; }
.source.js.embedded.html { color: #569cd6; }
.entity.name.tag.css { color: #d7ba7d; }
.entity.other.attribute-name { color: #9cdcfe; }
.entity.other.attribute-name.class.css { color: #d7ba7d; }
.entity.other.attribute-name.class.mixin.css { color: #d7ba7d; }
.entity.other.attribute-name.id.css { color: #d7ba7d; }
.entity.other.attribute-name.parent-selector.css { color: #d7ba7d; }
.entity.other.attribute-name.pseudo-class.css { color: #d7ba7d; }
.entity.other.attribute-name.pseudo-element.css { color: #d7ba7d; }
.source.css.less.entity.other.attribute-name.id { color: #d7ba7d; }
.entity.other.attribute-name.attribute.scss { color: #d7ba7d; }
.entity.other.attribute-name.scss { color: #d7ba7d; }
.invalid { color: #f44747; }
.markup.underline { font-style: underline; }
.markup.bold { color: #569cd6; }
.markup.heading { color: #569cd6; }
.markup.italic { font-style: italic; }
.markup.inserted { color: #b5cea8; }
.markup.deleted { color: #ce9178; }
.markup.changed { color: #569cd6; }
.beginning.punctuation.definition.quote.markdown { color: #608b4e; }
.beginning.punctuation.definition.list.markdown { color: #6796e6; }
.markup.inline.raw { color: #ce9178; }
.meta.selector { color: #d7ba7d; }
.punctuation.definition.tag { color: #808080; }
.meta.preprocessor { color: #569cd6; }
.meta.preprocessor.string { color: #ce9178; }
.meta.preprocessor.numeric { color: #b5cea8; }
.meta.structure.dictionary.key.python { color: #9cdcfe; }
.meta.diff.header { color: #569cd6; }
.storage { color: #569cd6; }
.storage.type { color: #569cd6; }
.storage.modifier { color: #569cd6; }
.string { color: #ce9178; }
.string.tag { color: #ce9178; }
.string.value { color: #ce9178; }
.string.regexp { color: #d16969; }
.punctuation.definition.template-expression.begin { color: #569cd6; }
.punctuation.definition.template-expression.end { color: #569cd6; }
.punctuation.section.embedded { color: #569cd6; }
.meta.template.expression { color: #d4d4d4; }
.support.type.vendored.property-name { color: #9cdcfe; }
.support.type.property-name { color: #9cdcfe; }
.variable.css { color: #9cdcfe; }
.variable.scss { color: #9cdcfe; }
.variable.other.less { color: #9cdcfe; }
.source.coffee.embedded { color: #9cdcfe; }
.keyword { color: #569cd6; }
.keyword.control { color: #569cd6; }
.keyword.operator { color: #d4d4d4; }
.keyword.operator.new { color: #569cd6; }
.keyword.operator.expression { color: #569cd6; }
.keyword.operator.cast { color: #569cd6; }
.keyword.operator.sizeof { color: #569cd6; }
.keyword.operator.logical.python { color: #569cd6; }
.keyword.other.unit { color: #b5cea8; }
.punctuation.section.embedded.begin.php { color: #569cd6; }
.punctuation.section.embedded.end.php { color: #569cd6; }
.support.function.git-rebase { color: #9cdcfe; }
.constant.sha.git-rebase { color: #b5cea8; }
.storage.modifier.import.java { color: #d4d4d4; }
.variable.language.wildcard.java { color: #d4d4d4; }
.storage.modifier.package.java { color: #d4d4d4; }
.variable.language { color: #569cd6; }
.entity.name.function { color: #DCDCAA; }
.support.function { color: #DCDCAA; }
.support.constant.handlebars { color: #DCDCAA; }
.meta.return-type { color: #4EC9B0; }
.support.class { color: #4EC9B0; }
.support.type { color: #4EC9B0; }
.entity.name.type { color: #4EC9B0; }
.entity.name.class { color: #4EC9B0; }
.storage.type.cs { color: #4EC9B0; }
.storage.type.generic.cs { color: #4EC9B0; }
.storage.type.modifier.cs { color: #4EC9B0; }
.storage.type.variable.cs { color: #4EC9B0; }
.storage.type.annotation.java { color: #4EC9B0; }
.storage.type.generic.java { color: #4EC9B0; }
.storage.type.java { color: #4EC9B0; }
.storage.type.object.array.java { color: #4EC9B0; }
.storage.type.primitive.array.java { color: #4EC9B0; }
.storage.type.primitive.java { color: #4EC9B0; }
.storage.type.token.java { color: #4EC9B0; }
.storage.type.groovy { color: #4EC9B0; }
.storage.type.annotation.groovy { color: #4EC9B0; }
.storage.type.parameters.groovy { color: #4EC9B0; }
.storage.type.generic.groovy { color: #4EC9B0; }
.storage.type.object.array.groovy { color: #4EC9B0; }
.storage.type.primitive.array.groovy { color: #4EC9B0; }
.storage.type.primitive.groovy { color: #4EC9B0; }
.meta.type.cast.expr { color: #4EC9B0; }
.meta.type.new.expr { color: #4EC9B0; }
.support.constant.math { color: #4EC9B0; }
.support.constant.dom { color: #4EC9B0; }
.support.constant.json { color: #4EC9B0; }
.entity.other.inherited-class { color: #4EC9B0; }
.keyword.control { color: #C586C0; }
.variable { color: #9CDCFE; }
.meta.definition.variable.name { color: #9CDCFE; }
.support.variable { color: #9CDCFE; }
.meta.object-literal.key { color: #9CDCFE; }
.meta.object-literal.key.entity.name.function { color: #9CDCFE; }
.support.constant.property-value { color: #CE9178; }
.support.constant.font-name { color: #CE9178; }
.support.constant.media-type { color: #CE9178; }
.support.constant.media { color: #CE9178; }
.constant.other.color.rgb-value { color: #CE9178; }
.constant.other.rgb-value { color: #CE9178; }
.support.constant.color { color: #CE9178; }
.punctuation.definition.group.regexp { color: #CE9178; }
.punctuation.definition.group.assertion.regexp { color: #CE9178; }
.punctuation.definition.character-class.regexp { color: #CE9178; }
.punctuation.character.set.begin.regexp { color: #CE9178; }
.punctuation.character.set.end.regexp { color: #CE9178; }
.keyword.operator.negation.regexp { color: #CE9178; }
.support.other.parenthesis.regexp { color: #CE9178; }
.constant.character.character-class.regexp { color: #d16969; }
.constant.other.character-class.set.regexp { color: #d16969; }
.constant.other.character-class.regexp { color: #d16969; }
.constant.character.set.regexp { color: #d16969; }
.keyword.operator.or.regexp { color: #DCDCAA; }
.keyword.control.anchor.regexp { color: #DCDCAA; }
.keyword.operator.quantifier.regexp { color: #d7ba7d; }
.constant.character { color: #569cd6; }
.constant.character.escape { color: #d7ba7d; }
.entity.name.tag.cfml { color: #d7ba7d; }
.entity.name.tag.custom.cfml { color: #d7ba7d; }
.keyword.operator.decision.cfml { color: #d7ba7d; }
