.emphasis { font-style: italic; }
.strong { font-weight: bold; }
.header { color: rgba(0, 0, 128, 1); }
.editor { background-color: #ffffff; color: #0000ff; }
.editor.lineHighlight { background-color: rgba(238, 238, 238, 1); }
.editor.selection {}
.meta.embedded { color: #0000ff;  background-color: #B0FF00; }
.source.groovy.embedded { color: #0000ff;  background-color: #ffffff; }
.meta.diff.header { color: #000080; }
.comment { color: #008000; }
.constant.language { color: #0000ff; }
.constant.numeric { color: #09885a; }
.constant.regexp { color: #811f3f; }
.entity.name.tag { color: #800000; }
.entity.name.tag.cfml { color: #0066CC; }
.entity.name.tag.custom.cfml { color: #3300CC; }
.keyword.operator.decision.cfml { color: #204a87; }
.entity.name.selector { color: #800000; }
.entity.other.attribute-name { color: #ff0000; }
.entity.other.attribute-name.class.css { color: #800000; }
.entity.other.attribute-name.class.mixin.css { color: #800000; }
.entity.other.attribute-name.id.css { color: #800000; }
.entity.other.attribute-name.parent-selector.css { color: #800000; }
.entity.other.attribute-name.pseudo-class.css { color: #800000; }
.entity.other.attribute-name.pseudo-element.css { color: #800000; }
.source.css.less.entity.other.attribute-name.id { color: #800000; }
.entity.other.attribute-name.attribute.scss { color: #800000; }
.entity.other.attribute-name.scss { color: #800000; }
.invalid { color: #cd3131; }
.markup.underline { font-style: underline; }
.markup.bold { color: #000080; }
.markup.heading { color: #800000; }
.markup.italic { font-style: italic; }
.markup.inserted { color: #09885a; }
.markup.deleted { color: #a31515; }
.markup.changed { color: #0451a5; }
.beginning.punctuation.definition.quote.markdown { color: #0451a5; }
.beginning.punctuation.definition.list.markdown { color: #0451a5; }
.markup.inline.raw { color: #800000; }
.meta.selector { color: #800000; }
.punctuation.definition.tag { color: #800000; }
.meta.preprocessor { color: #0000ff; }
.meta.preprocessor.string { color: #a31515; }
.meta.preprocessor.numeric { color: #09885a; }
.meta.structure.dictionary.key.python { color: #0451a5; }
.storage { color: #0000ff; }
.storage.type { color: #0000ff; }
.storage.modifier { color: #0000ff; }
.string { color: #a31515; }
.string.comment.buffered.block.jade { color: #0000ff; }
.string.quoted.jade { color: #0000ff; }
.string.interpolated.jade { color: #0000ff; }
.string.unquoted.plain.in.yaml { color: #0000ff; }
.string.unquoted.plain.out.yaml { color: #0000ff; }
.string.unquoted.block.yaml { color: #0000ff; }
.string.quoted.single.yaml { color: #0000ff; }
.string.quoted.double.xml { color: #0000ff; }
.string.quoted.single.xml { color: #0000ff; }
.string.unquoted.cdata.xml { color: #0000ff; }
.string.quoted.double.html { color: #0000ff; }
.string.quoted.single.html { color: #0000ff; }
.string.unquoted.html { color: #0000ff; }
.string.quoted.single.handlebars { color: #0000ff; }
.string.quoted.double.handlebars { color: #0000ff; }
.string.regexp { color: #811f3f; }
.punctuation.definition.template-expression.begin { color: #0000ff; }
.punctuation.definition.template-expression.end { color: #0000ff; }
.punctuation.section.embedded { color: #0000ff; }
.meta.template.expression { color: #000000; }
.support.constant.property-value { color: #0451a5; }
.support.constant.font-name { color: #0451a5; }
.support.constant.media-type { color: #0451a5; }
.support.constant.media { color: #0451a5; }
.constant.other.color.rgb-value { color: #0451a5; }
.constant.other.rgb-value { color: #0451a5; }
.support.constant.color { color: #0451a5; }
.support.type.vendored.property-name { color: #ff0000; }
.support.type.property-name { color: #ff0000; }
.variable.css { color: #ff0000; }
.variable.scss { color: #ff0000; }
.variable.other.less { color: #ff0000; }
.source.coffee.embedded { color: #ff0000; }
.support.type.property-name.json { color: #0451a5; }
.keyword { color: #0000ff; }
.keyword.control { color: #0000ff; }
.keyword.operator { color: #000000; }
.keyword.operator.new { color: #0000ff; }
.keyword.operator.expression { color: #0000ff; }
.keyword.operator.cast { color: #0000ff; }
.keyword.operator.sizeof { color: #0000ff; }
.keyword.operator.logical.python { color: #0000ff; }
.keyword.other.unit { color: #09885a; }
.punctuation.section.embedded.begin.php { color: #800000; }
.punctuation.section.embedded.end.php { color: #800000; }
.support.function.git-rebase { color: #0451a5; }
.constant.sha.git-rebase { color: #09885a; }
.storage.modifier.import.java { color: #000000; }
.variable.language.wildcard.java { color: #000000; }
.storage.modifier.package.java { color: #000000; }
.variable.language { color: #0000ff; }
.entity.name.function { color: #795E26; }
.support.function { color: #795E26; }
.support.constant.handlebars { color: #795E26; }
.meta.return-type { color: #267f99; }
.support.class { color: #267f99; }
.support.type { color: #267f99; }
.entity.name.type { color: #267f99; }
.entity.name.class { color: #267f99; }
.storage.type.cs { color: #267f99; }
.storage.type.generic.cs { color: #267f99; }
.storage.type.modifier.cs { color: #267f99; }
.storage.type.variable.cs { color: #267f99; }
.storage.type.annotation.java { color: #267f99; }
.storage.type.generic.java { color: #267f99; }
.storage.type.java { color: #267f99; }
.storage.type.object.array.java { color: #267f99; }
.storage.type.primitive.array.java { color: #267f99; }
.storage.type.primitive.java { color: #267f99; }
.storage.type.token.java { color: #267f99; }
.storage.type.groovy { color: #267f99; }
.storage.type.annotation.groovy { color: #267f99; }
.storage.type.parameters.groovy { color: #267f99; }
.storage.type.generic.groovy { color: #267f99; }
.storage.type.object.array.groovy { color: #267f99; }
.storage.type.primitive.array.groovy { color: #267f99; }
.storage.type.primitive.groovy { color: #267f99; }
.meta.type.cast.expr { color: #267f99; }
.meta.type.new.expr { color: #267f99; }
.support.constant.math { color: #267f99; }
.support.constant.dom { color: #267f99; }
.support.constant.json { color: #267f99; }
.entity.other.inherited-class { color: #267f99; }
.keyword.control { color: #AF00DB; }
.variable { color: #001080; }
.meta.definition.variable.name { color: #001080; }
.support.variable { color: #001080; }
.meta.object-literal.key { color: #001080; }
.meta.object-literal.key.entity.name.function { color: #001080; }
.support.constant.property-value { color: #0451a5; }
.support.constant.font-name { color: #0451a5; }
.support.constant.media-type { color: #0451a5; }
.support.constant.media { color: #0451a5; }
.constant.other.color.rgb-value { color: #0451a5; }
.constant.other.rgb-value { color: #0451a5; }
.support.constant.color { color: #0451a5; }
.punctuation.definition.group.regexp { color: #d16969; }
.punctuation.definition.group.assertion.regexp { color: #d16969; }
.punctuation.definition.character-class.regexp { color: #d16969; }
.punctuation.character.set.begin.regexp { color: #d16969; }
.punctuation.character.set.end.regexp { color: #d16969; }
.keyword.operator.negation.regexp { color: #d16969; }
.support.other.parenthesis.regexp { color: #d16969; }
.constant.character.character-class.regexp { color: #811f3f; }
.constant.other.character-class.set.regexp { color: #811f3f; }
.constant.other.character-class.regexp { color: #811f3f; }
.constant.character.set.regexp { color: #811f3f; }
.keyword.operator.quantifier.regexp { color: #000000; }
.keyword.operator.or.regexp { color: #ff0000; }
.keyword.control.anchor.regexp { color: #ff0000; }
.constant.character { color: #0000ff; }
.constant.character.escape { color: #a31515; }
.source.js.embedded.tag { color: #ce5c00; }.
.entity.other.attribute-name.source.js.embedded { color: #fcaf3e; }
.meta.brace.square { color: #3465a4; }
.meta.brace.curly { color: #729fcf; }
.source.js.embedded.storage.type { color: #73d216; }
.js.embedded.constant.language { color: #ce5c00; }

