body, td  {
	font-family: "Trebuchet MS", verdana, arial, sans-serif; 
	font-size:13px;
}

#banner {
	font-size:30px;
}

#footer {
	font-size:10pt;
	color:#999;	
	text-align:center;
}

.list {
	border-collapse:collapse;
	width:100%;
}

.list thead th {
	text-align:left;
	padding:2px;
}

.list tbody td {
	padding:2px;
	border:1px Solid #d7d7d7;
}

.list .even {
	background:#f4f4f4;	
}

.list tfoot td {
	padding:2px;
	border:1px Solid #d7d7d7;
}

.edit {
	border:1px Solid #d7d7d7;
	background:#f4f4f4;
	margin:0px;
	padding:10px;
}

.edit fieldset {
	border:0px;
}

.edit .formfield {
	padding-top:10px;
}

.edit label {
	width:250px;
	text-align:right;
	padding:0px 5px 0px 0px;
	clear:both;
	float:left;
}

.edit .error {
	padding:0px 0px 0px 255px;
	color:#f00;
}

.edit .error ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.edit .error ul li {
}

.edit .formfieldinputstack {
	float:left;
	padding:0px 0px 10px 0px;
}

.edit .formfieldinputstack label {
	float:none;
	width:auto;	
}

.edit .input {
	width:40%;
}

.edit .controls {
	clear:both;
	padding:10px 0px 0px 255px;
}