<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.tigris.cfeclipse.debugger"
   name="Debugger Plug-in"
   version="0.0.1"
   provider-name="The cfeclipse crew"
   class="org.tigris.cfeclipse.debugger.DebuggerPlugin">

   <runtime>
      <library name="debugger.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.help"/>
      <import plugin="org.eclipse.core.resources"/>
      <!-- <import plugin="com.rohanclan.cfml"/> -->
           
      <!-- <import plugin="org.eclipse.core.runtime.compatibility"/> -->
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.views"/>
   </requires>

   <!-- <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="org.tigris.cfeclipse.debugger.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="org.tigris.cfeclipse.debugger.actions.SampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="org.tigris.cfeclipse.debugger.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
   -->
   
   <!--
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="CFML Debug"
            icon="icons/sample.gif"
            class="org.tigris.cfeclipse.debugger.perspective.CFDebugPerspective"
            id="org.tigris.cfeclipse.debugger.perspective.CFDebug">
      </perspective>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewProjectCreationWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </viewShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <actionSet
               id="com.rohanclan.cfml.editors.CFMLEditorActions">
         </actionSet>
         <view
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.tigris.cfeclipse.debugger.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   -->
   
   <!-- 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="plugin.xml"
            id="org.tigris.cfeclipse.debugger.contribution1">
         <menu
               label="New Submenu"
               path="additions"
               id="org.tigris.cfeclipse.debugger.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="New Action"
               class="org.tigris.cfeclipse.debugger.popup.actions.NewAction"
               menubarPath="org.tigris.cfeclipse.debugger.menu1/group1"
               enablesFor="1"
               id="org.tigris.cfeclipse.debugger.newAction">
         </action>
      </objectContribution>
   </extension>
   -->
   
   <!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Sample Preferences"
            class="org.tigris.cfeclipse.debugger.preferences.SamplePreferencePage"
            id="org.tigris.cfeclipse.debugger.preferences.SamplePreferencePage">
      </page>
   </extension>
   -->
   
   <!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IFile"
            name="Sample Page"
            nameFilter="*.cfm,*.cfml,*.cfc"
            class="org.tigris.cfeclipse.debugger.properties.SamplePropertyPage"
            id="org.tigris.cfeclipse.debugger.properties.samplePropertyPage">
      </page>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CFML Debugger"
            id="org.tigris.cfeclipse.debugger">
      </category>
      
      <view
            name="Debug"
            icon="icons/sample.gif"
            category="org.tigris.cfeclipse.debugger"
            class="org.tigris.cfeclipse.debugger.views.debug.DebugView"
            id="org.tigris.cfeclipse.debugger.views.debug.DebugView">
      </view>
      <view
            name="Variables"
            icon="icons/sample.gif"
            category="org.tigris.cfeclipse.debugger"
            class="org.tigris.cfeclipse.debugger.views.variable.VariableView"
            id="org.tigris.cfeclipse.debugger.views.variable.VariableView">
      </view>
   </extension>

</plugin>
