<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CFEclipse">
         <property
               name="appName"
               value="CFEclipse">
         </property>
      </product>
   </extension>
</plugin>
