<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<category name="%snippets.category.name" id="org.cfeclipse.cfml.snippets.category">
		</category>
		<view name="%snippets.view.name" icon="icons/ctool16/library.gif"
			category="org.cfeclipse.cfml.snippets.category" class="org.cfeclipse.cfml.snippets.views.snips.SnipTreeView"
			id="org.cfeclipse.cfml.snippets.views.SnippetsView">
		</view>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view ratio="0.5" relative="org.eclipse.ui.views.TaskList"
				relationship="right" id="org.cfeclipse.cfml.snippets.views.SnippetsView">
			</view>
		</perspectiveExtension>
		 <perspectiveExtension targetID = "org.cfeclipse.cfml.perspective.CFML">
         <view
               ratio="0.5" relative="org.cfeclipse.cfml.views.explorer.vfs.view.VFSView"
               relationship="stack" id="org.cfeclipse.cfml.snippets.views.SnippetsView">
         </view>
      </perspectiveExtension>
		
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page class="org.cfeclipse.cfml.snippets.preferences.SnipExPreferencePage"
			name="%snippets.preference.page.name" id="org.cfeclipse.cfml.snippets.preferences.CFMLPreferencePage">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.cfeclipse.cfml.snippets.properties.ProjectPropertyPage"
			id="org.cfeclipse.cfml.snippets.properties.snippetProjectPropertyPage"
			name="%snippets.project.property.label" icon="icons/ctool16/library.gif"
			nameFilter="*">
			<enabledWhen>
				<instanceof value="org.eclipse.core.resources.IProject">
				</instanceof>
			</enabledWhen>
		</page>
	</extension>
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts.xml">
		</contexts>
	</extension>

	<!--
		Actions <extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
		id="org.eclipse.ui.articles.action.contribution.popup.editor"
		targetID="#TextEditorContext"> <action
		id="org.eclipse.ui.articles.action.contribution.editor.action1"
		enablesFor="*" label="%snippets.insertsnippet.action.label"
		icon="icons/ctool16/insertsnip.gif" menubarPath="additions"
		definitionId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
		class="org.cfeclipse.cfml.snippets.commands.InsertSnippetCommand">
		</action> </viewerContribution> </extension> <extension
		point="org.eclipse.ui.editorActions"> <editorContribution
		targetID="org.eclipse.ui.DefaultTextEditor"
		id="org.cfeclipse.cfml.snippets.editors.CFMLEditorActions"> <action
		id="org.eclipse.ui.articles.action.contribution.editor.action1"
		enablesFor="*" label="%snippets.insertsnippet.action.label"
		icon="icons/ctool16/insertsnip.gif" menubarPath="additions"
		definitionId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
		class="org.cfeclipse.cfml.snippets.commands.InsertSnippetCommand">
		</action> </editorContribution> </extension> <extension
		point="org.eclipse.ui.actionSets"> <actionSet
		description="%snippets.actionset.description"
		id="org.cfeclipse.cfml.snippets.actionset"
		label="%snippets.actionset.label" visible="false"> <menu
		id="org.cfeclipse.cfml.snippetsmenu" label="%snippets.menu.label"
		path="additions"> <separator name="snippetsGroup"> </separator>
		</menu> <action id="org.cfeclipse.cfml.snippets.InsertSnippetCommand"
		enablesFor="*" label="%snippets.insertsnippet.action.label"
		icon="icons/ctool16/insertsnip.gif" menubarPath="additions"
		definitionId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
		class="org.cfeclipse.cfml.snippets.commands.InsertSnippetCommand">
		</action> </actionSet> </extension>
	-->
	<extension point="org.eclipse.ui.menus">

		<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
			<toolbar id="com.eclipse-tips.commands.toolbar1">
				<command commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
					id="com.eclipse-tips.commands.someCommandInToolBar">
				</command>
			</toolbar>
		</menuContribution>
		<menuContribution locationURI="popup:#TextEditorContext?after=additions">
			<menu id="com.eclipse-tips.commands.popup1" label="Snippets">
				<command commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
					id="com.eclipse-tips.commands.someCommandInPopUp">
				</command>
			</menu>
		</menuContribution>
		<menuContribution locationURI="menu:org.eclipse.search.menu?after=contextMenuActionsGroup">
			<menu id="com.eclipse-tips.commands.menu1" label="Snippets">
				<command commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
					id="com.eclipse-tips.commands.someCommandInMenu">
				</command>
			</menu>
		</menuContribution>

	</extension>

	<!-- Command handlers -->
	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
			class="org.cfeclipse.cfml.snippets.handlers.SnippetActionHandler" />
	</extension>

	<!-- Commands -->
	<extension point="org.eclipse.ui.commands">

		<category name="%snippets.insertsnippet.command.name"
			description="%snippets.category.description" id="org.cfeclipse.cfml.snippets.commandCategory" />
		<!-- insert a snippet -->
		<command name="%snippets.insertsnippet.command.name"
			description="%snippets.insertsnippet.command.description" categoryId="org.cfeclipse.cfml.snippets.commandCategory"
			id="org.cfeclipse.cfml.snippets.commands.InsertSnippet">
		</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
		<image commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
			icon="icons/ctool16/insertsnip.gif">
		</image>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<!--
			The "M" modifier keys are a platform-independent way of representing
			keys, and these are generally preferred. M1 is the COMMAND key on
			MacOS X, and the CTRL key on most other platforms. M2 is the SHIFT
			key. M3 is the Option key on MacOS X, and the ALT key on most other
			platforms. M4 is the CTRL key on MacOS X, and is undefined on other
			platforms. See:
			http://help.eclipse.org/help32/index.jsp?topic=/org.eclipse.platform.doc.isv/reference/extension-points/org_eclipse_ui_bindings.html
		-->

		<!-- auto comment -->
		<key sequence="M1+M2+I" commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
			contextId="org.eclipse.ui.textEditorScope" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		<key commandId="org.cfeclipse.cfml.snippets.commands.InsertSnippet"
			contextId="org.eclipse.jdt.ui.javaEditorScope" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+I">
		</key>
	</extension>

</plugin>
