
/**************************************************************
   #content: Sets the width of the site.  Make changes here
             to convert to a fixed width site.
 **************************************************************/

#content {  
  height: 100%;
  min-height: 100%;

  text-align: left;
}
#subpage_content {  
  height: 100%;
  min-height: 100%;

  text-align: left;
}


#content,
#width {
  /* max-width hack for IE since it doesn't understand the valid css property */
  width: expression(document.body.clientWidth > 1000 ? "1000px" : "94%");  
  max-width: 1000px;
  margin: 0 auto;
}

#content[id],
#width[id] {
  width: 94%;
  height: auto;
}




/**************************************************************
   #header: Holds the site and header images
 **************************************************************/

#header {
  position: relative;
  height: 193px;
}

/* Holds the site title and subtitle */
#header #title {
  position: absolute;
  z-index: 3;
  top: 80px;
  left: 0px;

  padding: 5px;
  text-align: right;
}

#header h1 {
  margin: 0;
  padding: 0;
}

#header h2 {
  position: absolute;
  top: 80px;
  right: 5px;

  margin: 0;
  padding: 0;

  font: 700 1em "trebuchet ms", serif;
  text-transform: lowercase;
  color: #00F0EC;
}


/* Sets where the header images will go */
#header img.left {
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
}

#header img.right {
  position: absolute;
  z-index: 0;

  top: 0;
  right: 0;
}

#myHeader {
	
	height:253px;
}

#myHeader img.left {
  position: absolute;
  z-index: 1;

  top: 0;
  left: 0;
}

/**************************************************************
   #mainMenu: The top level site menu
 **************************************************************/

#mainMenu { 
  float: left;
  width: 100%;
  clear: both; 
}

#mainMenu ul {
  margin: 0;
  padding: 0;
}

#mainMenu li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainMenu li a {
  float: left;
  margin: 0 2px;
  padding: 5px 0.5em;

  font: 400 1.6em "trebuchet ms", serif;
  text-decoration: none;
  text-transform: lowercase;
  color: #FFF;
}

#mainMenu li a:hover,
#mainMenu li a.here {
  color: #65EBFF;
  border-top: 5px solid #000;
}

#mainMenu li a.last {
  margin-right: 0;
}

/**************************************************************
   Subpage Nav block
 **************************************************************/
.subpage_block_black {
	height: 15px;
	background-color: black;
}
#subpage_menu {
	height: 37px;
	width: 850px;
	background-color: red;
	background: #555555 url(/assets/img/bg/gradient_sub_header.jpg) repeat-x top left;
	
}

#subpage_logo {
	background: #000 url(/assets/img/gradient_sub_header.jpg) no-repeat top left;
	height: 37px;
	width: 300px;
	float: left;
}
#subpage_menu ul {
  margin: 0;
  padding: 0;
}
#subpage_menu li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
#subpage_menu li a {
  float: left;
  margin: 0 2px;
  padding: 5px 0.5em;

  font: 400 1.6em "trebuchet ms", serif;
  text-decoration: none;
  text-transform: lowercase;
  color: #FFF;
}
#subpage_menu li a:hover,
#subpage_menu li a.here {
  color: #65EBFF;
  border-top: 5px solid #000;
}
#subpage_menu li a.last {
  margin-right: 0;
}


/**************************************************************
   .sideMenu: The side bar menu
 **************************************************************/

ul.sideMenu {
  margin: 0;
  padding: 0;
}

.sideMenu li {
  display: inline;
  
  /* Needed since IE fails when you give it list-style: none; */  
  list-style-image: url(/assets/foo.gif);
  font: 400 1.3em "trebuchet ms", serif;
}

.sideMenu li.andy {
	font: 400 0.55em verdana, arial, sans-serif; 
	color: white;
}

.sideMenu li a {
  display: block;
  margin: 0.2em 0;
  padding: 3px 5px;    
  
  text-decoration: none;
  color: #FFF;
} 

.sideMenu li a:hover {
  color: #65EBFF;
  background: #5F5F5F;
}

/* Active menu item */
.sideMenu li.here {
  display: block;  
  padding: 5px;
  color: #65EBFF;
  background: #555;
}

/* Submenu of active menu item */
.sideMenu li.here ul {
  margin: 0;
  padding: 0;
}

.sideMenu li.here ul li a {
  padding-left: 35px;
  font: 400 0.55em verdana, arial, sans-serif; 
  color: #FFF;  
  background: url(/assets/img/bg/bullet.gif) no-repeat 10px 0px;
}

.sideMenu li.here ul li a:hover {
  color: #9FF3FF;
  background: #5F5F5F url(/assets/img/bg/bullet.gif) no-repeat 10px 0px;
}


/**************************************************************
   #features
 **************************************************************/

#features {
  
}
#features .thumb {
	display:inline;
	width:110px;
	height:85px;
	padding:15px;
	float:left;
}
#features .thumb img {
	padding:5px;
	background:#fff;
	border:0;
}

div.content {
	border-width: 0;	/* Fix print/v4 borders issue */
	float: left;
	position: relative;
	z-index: 10;
	overflow: visible;	/* fix for IE italics bug */
	margin: 0 -1px; /* Ensure floating */
	width: 100%;
}

div.wide3 {
	width: 33%;
	float: left;
	text-align: center;
}



/**************************************************************
   #page: Holds the main page content.
 **************************************************************/

#page {
  float: left;
  width: 100%;
  clear: both;
  
  padding-bottom: 4em;
}




/**************************************************************
   #footer: The page footer - will stick to the bottom if not
            enough content.
 **************************************************************/

#footer {
  float: left;
  width: 100%;
  clear: both;
  
  margin-top: -3.8em;
  background: #000 url(/assets/img/bg/footer.jpg) repeat-x top left;
}

/* Sets the width of the footer content */
#footer #width {
  position: relative;
  z-index: 3;
  font-size: 0.85em;
  padding-top: 27px;
}



/**************************************************************
   Width classes used by the site columns
 **************************************************************/

.width100 {
  width: 100%;
}

.width75 {
  width: 74%;
}

.width50 {
  width: 49.7%;
}

.width33 {
  width: 32.7%;
}

.width25 {
  width: 24.7%;
}



/**************************************************************
   Alignment classes
 **************************************************************/

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}



/**************************************************************
   Generic display classes
 **************************************************************/

.clear {
  clear: both;
}

.block {
  display: block;
}

.small {
  font-size: 0.8em;
}

.green {
  color: #A1FF45;
}

.red {
  color: #EA1B00;
}

.grey {
  color: #666;
}

.grey a {
  color: #999;
}

.grey a:hover {
  color: #EEE;
}

.gradient {
  margin-bottom: 2em;
  background: #555 url(/assets/img/bg/gradient.jpg) repeat-x bottom left; 
}

.testimonial {
  font: 700 2em "verdana", serif; 
}